In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../data/device_failure_data_scientist.csv")
df.head()

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
0,15001,S1F01085,215630672,56,0,52,6,407438,0,0,7,0
1,15001,S1F0166B,61370680,0,3,0,6,403174,0,0,0,0
2,15001,S1F01E6Y,173295968,0,0,0,12,237394,0,0,0,0
3,15001,S1F01JE0,79694024,0,0,0,6,410186,0,0,0,0
4,15001,S1F01R2B,135970480,0,0,0,15,313173,0,0,3,0

In [3]:
df.tail()

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
124489,15306,Z1F0MA1S,18310224,0,0,0,10,353705,8,8,0,0
124490,15306,Z1F0Q8RT,172556680,96,107,4,11,332792,0,0,13,0
124491,15306,Z1F0QK05,19029120,4832,0,0,11,350410,0,0,0,0
124492,15306,Z1F0QL3N,226953408,0,0,0,12,358980,0,0,0,0
124493,15306,Z1F0QLC1,17572840,0,0,0,10,351431,0,0,0,0

In [4]:
df.isnull().sum()

date          0
device        0
attribute1    0
attribute2    0
attribute3    0
attribute4    0
attribute5    0
attribute6    0
attribute7    0
attribute8    0
attribute9    0
failure       0
dtype: int64

In [5]:
df.shape

(124494, 12)

In [6]:
df.dtypes

date           int64
device        object
attribute1     int64
attribute2     int64
attribute3     int64
attribute4     int64
attribute5     int64
attribute6     int64
attribute7     int64
attribute8     int64
attribute9     int64
failure        int64
dtype: object

In [7]:
df['failure'].value_counts()

0    124388
1       106
Name: failure, dtype: int64

In [8]:
df['device'].value_counts()

W1F0FY92    304
Z1F0MA1S    304
Z1F0Q8RT    304
W1F0JXDL    304
W1F0SJJ2    304
           ...
W1F1ARYY      5
W1F0ED5X      5
W1F1CJKT      5
S1F04KSC      4
W1F0WJFT      3
Name: device, Length: 1168, dtype: int64

In [9]:
failed_df = df.query("failure == 1")
func_df = df.query("failure == 0")

In [10]:
failed_df.reset_index(inplace=True)
func_df.reset_index(inplace=True)

In [11]:
failed_df['device'].value_counts() ## Not dependent on device

Z1F1901P    1
Z1F0FSBY    1
W1F0Z3KR    1
S1F0F4EB    1
W1F1BFP5    1
           ..
W1F1DQN8    1
Z1F0NVZA    1
W1F1CDDP    1
S1F0DSTY    1
W1F0FKWW    1
Name: device, Length: 106, dtype: int64

In [12]:
func_df['device'].value_counts()

W1F0FZPA    304
Z1F0QK05    304
W1F0FEH7    304
Z1F0KJDS    304
S1F0KYCR    304
           ...
Z1F1AGN5      5
Z1F0L7NZ      5
S1F04KSC      4
S1F0RRB1      4
W1F0WJFT      3
Name: device, Length: 1168, dtype: int64

In [13]:
df.aggregate(np.mean)

date          1.510622e+04
attribute1    1.223868e+08
attribute2    1.594848e+02
attribute3    9.940455e+00
attribute4    1.741120e+00
attribute5    1.422269e+01
attribute6    2.601729e+05
attribute7    2.925282e-01
attribute8    2.925282e-01
attribute9    1.245152e+01
failure       8.514467e-04
dtype: float64

In [14]:
df.query('failure == 1').aggregate(np.mean)

date          1.510791e+04
attribute1    1.271755e+08
attribute2    4.109434e+03
attribute3    3.905660e+00
attribute4    5.463208e+01
attribute5    1.546226e+01
attribute6    2.583035e+05
attribute7    3.062264e+01
attribute8    3.062264e+01
attribute9    2.308491e+01
failure       1.000000e+00
dtype: float64

In [15]:
df.query('failure==0').aggregate(np.mean)

date          1.510622e+04
attribute1    1.223827e+08
attribute2    1.561187e+02
attribute3    9.945598e+00
attribute4    1.696048e+00
attribute5    1.422164e+01
attribute6    2.601745e+05
attribute7    2.666817e-01
attribute8    2.666817e-01
attribute9    1.244246e+01
failure       0.000000e+00
dtype: float64