In [1]:
import pandas as pd
import numpy as np

### Reading in the data, checking for nulls or unexpected data types.

In [2]:
df = pd.read_csv("../data/device_failure_data_scientist.csv")
df.head()

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
0,15001,S1F01085,215630672,56,0,52,6,407438,0,0,7,0
1,15001,S1F0166B,61370680,0,3,0,6,403174,0,0,0,0
2,15001,S1F01E6Y,173295968,0,0,0,12,237394,0,0,0,0
3,15001,S1F01JE0,79694024,0,0,0,6,410186,0,0,0,0
4,15001,S1F01R2B,135970480,0,0,0,15,313173,0,0,3,0

In [3]:
df.tail()

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
124489,15306,Z1F0MA1S,18310224,0,0,0,10,353705,8,8,0,0
124490,15306,Z1F0Q8RT,172556680,96,107,4,11,332792,0,0,13,0
124491,15306,Z1F0QK05,19029120,4832,0,0,11,350410,0,0,0,0
124492,15306,Z1F0QL3N,226953408,0,0,0,12,358980,0,0,0,0
124493,15306,Z1F0QLC1,17572840,0,0,0,10,351431,0,0,0,0

Checking for null values

In [4]:
df.isnull().sum()

date          0
device        0
attribute1    0
attribute2    0
attribute3    0
attribute4    0
attribute5    0
attribute6    0
attribute7    0
attribute8    0
attribute9    0
failure       0
dtype: int64

In [17]:
# Make sure all the devices are actually there and not empty strings
df['device'].sort_values(ascending=False)

45203    Z1F2PBHX
43187    Z1F2PBHX
54650    Z1F2PBHX
28591    Z1F2PBHX
30726    Z1F2PBHX
           ...
2326     S1F01085
4651     S1F01085
5812     S1F01085
3489     S1F01085
0        S1F01085
Name: device, Length: 124494, dtype: object

In [5]:
df.shape

(124494, 12)

In [6]:
df.dtypes

date           int64
device        object
attribute1     int64
attribute2     int64
attribute3     int64
attribute4     int64
attribute5     int64
attribute6     int64
attribute7     int64
attribute8     int64
attribute9     int64
failure        int64
dtype: object

### Looking at the two classes
Baseline accuracy $= 0.999$ (very large class imbalance)

In [43]:
df['failure'].value_counts()

0    124388
1       106
Name: failure, dtype: int64

In [51]:
df['device'].unique()

array(['S1F01085', 'S1F0166B', 'S1F01E6Y', ..., 'S1F02W1L', 'S1F02XLX',
       'S1F03499'], dtype=object)

In [53]:
df['device'].value_counts()

Z1F0MA1S    304
Z1F0QL3N    304
W1F0FZPA    304
Z1F0QK05    304
W1F0JY02    304
           ...
Z1F0L4J2      5
S1F0CVRM      5
S1F0BN0S      5
S1F04KSC      4
W1F0WJFT      3
Name: device, Length: 1168, dtype: int64

`failed_devices` is a list of all the devices that failed.  Failed devices had telemetry data until the day they did 
fail while not-failed devices (unsurprisingly) continued transmitting telemetry data.  I can use this list to filter 
the data frame to look specifically at devices that failed or devices that didn't fail, removing all of the data of 
failed devices.  I can better compare the differences in telemetry data and figure out which attributes are relevant.

In [76]:
failed_devices = list(df.query("failure == 1")['device'])
failed_devices

['S1F0RRB1',
 'S1F0CTDN',
 'W1F0PNA5',
 'W1F13SRV',
 'W1F1230J',
 'W1F0T034',
 'S1F0GG8X',
 'S1F023H2',
 'S1F0QY11',
 'S1F0S2WJ',
 'W1F0Z1W9',
 'W1F15S4D',
 'Z1F0LVPW',
 'Z1F0NVZA',
 'Z1F1FCH5',
 'S1F0P3G2',
 'W1F0F6BN',
 'W1F0P114',
 'W1F0X4FC',
 'S1F0LCTV',
 'W1F03DP4',
 'W1F0FW0S',
 'S1F10E6M',
 'S1F11MB0',
 'W1F0SGHR',
 'W1F0VDH2',
 'W1F0TA59',
 'Z1F0LVGY',
 'Z1F0MCCA',
 'Z1F0P5D9',
 'W1F0NZZZ',
 'W1F0T074',
 'S1F0DSTY',
 'S1F0TQCV',
 'Z1F04GCH',
 'W1F08EDA',
 'W1F1C9TE',
 'S1F0S4CA',
 'W1F19BPT',
 'Z1F130LH',
 'S1F0GJW3',
 'S1F0LD2C',
 'W1F0Q8FH',
 'Z1F0FSBY',
 'W1F0Z4EA',
 'Z1F0QH0C',
 'S1F0S4T6',
 'W1F1CDDP',
 'S1F0S57T',
 'S1F0JD7P',
 'S1F13H80',
 'Z1F148T1',
 'S1F0RSZP',
 'S1F0GKFX',
 'S1F0LCVC',
 'W1F1BZTM',
 'Z1F1RJFA',
 'S1F13589',
 'S1F136J0',
 'S1F0F4EB',
 'W1F1C9WG',
 'S1F0RR35',
 'Z1F1653X',
 'Z1F1AG5N',
 'W1F0KCP2',
 'W1F0M35B',
 'Z1F1901P',
 'S1F0GKL6',
 'Z1F0K451',
 'W1F03D4L',
 'W1F0FKWW',
 'S1F0PJJW',
 'W1F0X5GW',
 'S1F0L0DW',
 'W1F0WBTM',
 'S1F0GSD9',
 'S1F0QF3R',
 'W1F0Z3KR',
 'W1F0M4BZ',
 'Z1F0B4XZ',
 'W1F0GCAZ',
 'Z1F0LSNZ',
 'Z1F1VQFY',
 'Z1F0P16F',
 'S1F0S65X',
 'W1F1BS0H',
 'W1F0PAXH',
 'S1F0GPFZ',
 'S1F0J5JH',
 'W1F1CJ1K',
 'S1F0S4EG',
 'S1F09DZQ',
 'W1F11ZG9',
 'S1F0LD15',
 'W1F1BFP5',
 'S1F0T2LA',
 'W1F14XGD',
 'S1F135TN',
 'W1F1DQN8',
 'S1F03YZM',
 'S1F0GSHB',
 'W1F1CB5E',
 'Z1F0MRPJ',
 'S1F0JGJV',
 'Z1F14BGY',
 'W1F0T0B1']

### Separating the failed devices into a separate data frame for easier viewing.

In [9]:
failed_df = df.query("failure == 1")

In [10]:
failed_df.reset_index(inplace=True)

In [18]:
failed_df['device'].value_counts() # Not dependent on device

W1F0VDH2    1
Z1F0P16F    1
S1F0QY11    1
W1F19BPT    1
W1F0FKWW    1
           ..
Z1F0P5D9    1
W1F0WBTM    1
S1F0RSZP    1
S1F0PJJW    1
S1F023H2    1
Name: device, Length: 106, dtype: int64

### Looking more closely at telemetry data.

In [13]:
df.aggregate(np.mean)

date          1.510622e+04
attribute1    1.223868e+08
attribute2    1.594848e+02
attribute3    9.940455e+00
attribute4    1.741120e+00
attribute5    1.422269e+01
attribute6    2.601729e+05
attribute7    2.925282e-01
attribute8    2.925282e-01
attribute9    1.245152e+01
failure       8.514467e-04
dtype: float64

In [14]:
df.query('failure == 1').aggregate(np.mean)

date          1.510791e+04
attribute1    1.271755e+08
attribute2    4.109434e+03
attribute3    3.905660e+00
attribute4    5.463208e+01
attribute5    1.546226e+01
attribute6    2.583035e+05
attribute7    3.062264e+01
attribute8    3.062264e+01
attribute9    2.308491e+01
failure       1.000000e+00
dtype: float64

In [15]:
df.query('failure==0').aggregate(np.mean)

date          1.510622e+04
attribute1    1.223827e+08
attribute2    1.561187e+02
attribute3    9.945598e+00
attribute4    1.696048e+00
attribute5    1.422164e+01
attribute6    2.601745e+05
attribute7    2.666817e-01
attribute8    2.666817e-01
attribute9    1.244246e+01
failure       0.000000e+00
dtype: float64

In [96]:
df.query("device == 'S1F0RRB1'")

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
235,15001,S1F0RRB1,5230888,2288,0,37,8,39267,24,24,1,0
1398,15002,S1F0RRB1,13307628,64776,0,49,8,39267,56,56,1,0
2561,15003,S1F0RRB1,26258330,64776,0,135,8,39267,56,56,1,0
3724,15004,S1F0RRB1,37985862,64776,0,763,8,39267,56,56,1,0
4885,15005,S1F0RRB1,48467332,64776,0,841,8,39267,56,56,1,1

In [98]:
df.query("device == 'W1F0F6BN'")

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
557,15001,W1F0F6BN,113361680,0,0,0,12,225194,0,0,0,0
1720,15002,W1F0F6BN,132121976,0,0,0,12,226495,0,0,0,0
2883,15003,W1F0F6BN,153745136,0,0,0,12,227728,0,0,0,0
4046,15004,W1F0F6BN,176403712,0,0,0,12,228862,0,0,0,0
5207,15005,W1F0F6BN,200875200,0,0,0,12,230151,0,0,0,0
6321,15006,W1F0F6BN,221711128,0,0,0,12,231468,0,0,0,0
7245,15007,W1F0F6BN,1509976,0,0,0,12,232777,0,0,0,0
8009,15008,W1F0F6BN,22376168,0,0,0,12,234010,0,0,0,0
8765,15009,W1F0F6BN,49165752,0,0,0,12,235082,0,0,0,0
9521,15010,W1F0F6BN,70592240,0,0,0,12,236340,0,0,0,0
10276,15011,W1F0F6BN,94078840,0,0,0,12,237635,0,0,0,0
11031,15012,W1F0F6BN,114799880,0,0,0,12,238884,0,0,0,0
11786,15013,W1F0F6BN,139922104,0,0,0,12,239953,0,0,0,0
12517,15014,W1F0F6BN,160516016,0,0,0,12,241283,0,0,0,0
13233,15015,W1F0F6BN,180323664,0,0,0,12,242533,0,0,0,0
13948,15016,W1F0F6BN,205865400,0,0,0,12,243680,0,0,0,0
14663,15017,W1F0F6BN,148907576,0,0,16,12,243751,0,0,0,0
15378,15018,W1F0F6BN,44449030,0,0,28,12,243751,0,0,0,0
16091,15019,W1F0F6BN,140931864,0,0,28,12,243751,152,152,0,0
16807,15020,W1F0F6BN,224349792,0,0,34,12,243751,152,152,0,0
17519,15021,W1F0F6BN,105159792,0,0,58,12,243903,0,0,0,0
18231,15022,W1F0F6BN,22646880,0,0,58,12,244253,0,0,0,1

In [97]:
df.query("device == 'S1F0T2LA'")

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
338,15001,S1F0T2LA,160992856,424,0,1,10,247498,0,0,0,0
1501,15002,S1F0T2LA,183767064,424,0,1,10,248860,0,0,0,0
2664,15003,S1F0T2LA,205069592,424,0,1,10,250270,0,0,0,0
3827,15004,S1F0T2LA,226287408,424,0,1,10,251628,0,0,0,0
4988,15005,S1F0T2LA,6992384,424,0,1,10,252990,0,0,0,0
6112,15006,S1F0T2LA,28195072,424,0,1,10,254346,0,0,0,0
7077,15007,S1F0T2LA,48014624,424,0,1,10,255756,0,0,0,0
7855,15008,S1F0T2LA,68808352,424,0,1,10,257110,0,0,0,0
8611,15009,S1F0T2LA,91780304,424,0,1,10,258508,0,0,0,0
9367,15010,S1F0T2LA,110733408,424,0,1,10,259877,0,0,0,0
10122,15011,S1F0T2LA,133537760,424,0,1,10,261233,0,0,0,0
10877,15012,S1F0T2LA,152773040,424,0,1,10,262595,0,0,0,0
11632,15013,S1F0T2LA,176473072,424,0,1,10,263991,0,0,0,0
12368,15014,S1F0T2LA,200999816,424,0,1,10,265330,0,0,0,0
13084,15015,S1F0T2LA,227786880,424,0,1,10,266663,0,0,0,0
13799,15016,S1F0T2LA,3990848,424,0,1,10,268074,0,0,0,0
14514,15017,S1F0T2LA,24727552,424,0,1,10,269428,0,0,0,0
15229,15018,S1F0T2LA,45376704,424,0,1,10,270786,0,0,0,0
15942,15019,S1F0T2LA,63608552,424,0,1,10,272147,0,0,0,0
16655,15020,S1F0T2LA,180570432,424,0,1,10,272813,0,0,0,0
17367,15021,S1F0T2LA,105239616,424,0,1,10,272813,0,0,0,0
18079,15022,S1F0T2LA,26165248,424,0,1,10,272823,0,0,0,0
18791,15023,S1F0T2LA,112245248,424,0,1,10,272824,0,0,0,0
19504,15024,S1F0T2LA,106251336,424,0,1,10,272824,0,0,0,0
20216,15025,S1F0T2LA,14849096,424,0,1,10,272824,0,0,0,0
20928,15026,S1F0T2LA,131553208,424,0,1,10,272824,0,0,0,0
21639,15027,S1F0T2LA,189166528,424,0,1,10,272827,0,0,0,0
22351,15028,S1F0T2LA,42349272,424,0,1,10,272827,0,0,0,0
23063,15029,S1F0T2LA,180164848,424,0,1,10,272827,0,0,0,0
23778,15030,S1F0T2LA,167757128,424,0,1,10,272827,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
95820,15175,S1F0T2LA,189573584,440,0,1,10,279146,0,0,0,0
96168,15176,S1F0T2LA,110962168,440,0,1,10,279152,0,0,0,0
96516,15177,S1F0T2LA,84720520,440,0,1,10,279152,0,0,0,0
96864,15178,S1F0T2LA,53049744,440,0,1,10,279152,0,0,0,0
97211,15179,S1F0T2LA,23243336,440,0,1,10,279152,0,0,0,0
97558,15180,S1F0T2LA,229727472,440,0,1,10,279152,0,0,0,0
97905,15181,S1F0T2LA,242101920,440,0,1,10,279156,0,0,0,0
98252,15182,S1F0T2LA,215581392,440,0,1,10,279156,0,0,0,0
98598,15183,S1F0T2LA,183038976,440,0,1,10,279156,0,0,0,0
98944,15184,S1F0T2LA,122562496,440,0,1,10,279156,0,0,0,0
99290,15185,S1F0T2LA,142296672,440,0,1,10,279156,0,0,0,0
99636,15186,S1F0T2LA,105937184,440,0,1,10,279156,0,0,0,0
99982,15187,S1F0T2LA,67652992,440,0,1,10,279156,0,0,0,0
100328,15188,S1F0T2LA,1063752,440,0,1,10,279156,0,0,0,0
100674,15189,S1F0T2LA,36276520,440,0,1,10,279156,0,0,0,0
101020,15190,S1F0T2LA,172748936,440,0,1,10,279177,0,0,0,0
101364,15191,S1F0T2LA,240710688,440,0,1,10,280059,0,0,0,0
101707,15192,S1F0T2LA,13017992,440,0,1,10,281401,0,0,0,0
102050,15193,S1F0T2LA,30642384,440,0,1,10,282707,0,0,0,0
102391,15194,S1F0T2LA,51545944,440,0,1,10,284012,0,0,0,0
102732,15195,S1F0T2LA,74360912,440,0,1,10,285324,0,0,0,0
103071,15196,S1F0T2LA,89891184,440,0,1,10,286671,0,0,0,0
103410,15197,S1F0T2LA,105944808,440,0,1,10,288059,0,0,0,0
103749,15198,S1F0T2LA,127286712,440,0,1,10,289415,0,0,0,0
104088,15199,S1F0T2LA,130718256,440,0,1,10,290012,0,0,0,0
104426,15200,S1F0T2LA,198672744,440,0,1,10,290026,0,0,0,0
104764,15201,S1F0T2LA,212477824,440,0,1,10,290026,0,0,0,0
105101,15202,S1F0T2LA,203893736,440,0,1,10,290026,0,0,0,0
105437,15203,S1F0T2LA,23153016,440,0,1,10,290027,0,0,0,0
105773,15204,S1F0T2LA,146996384,440,0,1,10,290027,0,0,0,1

Telemetry data ends when device fails and some attributes seem to be constant for each device.

In [101]:
df.groupby('device')['attribute5'].mean()

device
S1F01085     6.000000
S1F013BB     5.000000
S1F0166B     6.000000
S1F01E6Y    12.000000
S1F01JE0     6.000000
              ...
Z1F1VMZB     5.000000
Z1F1VQFY     6.328000
Z1F26YZB     1.000000
Z1F282ZV     1.000000
Z1F2PBHX     4.927711
Name: attribute5, Length: 1168, dtype: float64

In [111]:
df.query('device == "Z1F2PBHX"')

,date,device,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9,failure
1162,15001,Z1F2PBHX,129475464,0,0,0,4,148008,0,0,0,0
2325,15002,Z1F2PBHX,148229136,0,0,0,4,148008,0,0,0,0
3488,15003,Z1F2PBHX,188059992,0,0,0,4,148008,0,0,0,0
4650,15004,Z1F2PBHX,167365376,0,0,0,4,148745,0,0,0,0
5811,15005,Z1F2PBHX,205455544,0,0,0,4,149672,0,0,0,0
6865,15006,Z1F2PBHX,243630240,0,0,0,4,150588,0,0,0,0
17196,15020,Z1F2PBHX,171318632,0,0,0,5,157075,0,0,0,0
17908,15021,Z1F2PBHX,178270360,0,0,0,5,157122,0,0,0,0
18620,15022,Z1F2PBHX,133112960,0,0,0,5,157403,0,0,0,0
19332,15023,Z1F2PBHX,234895416,0,0,0,5,157404,0,0,0,0
20044,15024,Z1F2PBHX,46939320,0,0,0,5,157404,0,0,0,0
20756,15025,Z1F2PBHX,44864224,0,0,0,5,157405,0,0,0,0
21468,15026,Z1F2PBHX,191817864,0,0,0,5,157405,0,0,0,0
22180,15027,Z1F2PBHX,17191888,0,0,0,5,157410,0,0,0,0
22892,15028,Z1F2PBHX,243935864,0,0,0,5,157410,0,0,0,0
23607,15029,Z1F2PBHX,176857592,0,0,0,5,157410,0,0,0,0
24319,15030,Z1F2PBHX,242857056,0,0,0,5,157410,0,0,0,0
25031,15031,Z1F2PBHX,157304384,0,0,0,5,157414,0,0,0,0
25743,15032,Z1F2PBHX,53847624,0,0,0,5,157414,0,0,0,0
26455,15033,Z1F2PBHX,197796832,0,0,0,5,157414,0,0,0,0
27167,15034,Z1F2PBHX,147243080,0,0,0,5,157414,0,0,0,0
27879,15035,Z1F2PBHX,238956280,0,0,0,5,157415,0,0,0,0
28591,15036,Z1F2PBHX,103204112,0,0,0,5,157415,0,0,0,0
29302,15037,Z1F2PBHX,242794712,0,0,0,5,157415,0,0,0,0
30014,15038,Z1F2PBHX,171746664,0,0,0,5,157415,0,0,0,0
30726,15039,Z1F2PBHX,233634680,0,0,0,5,157415,0,0,0,0
31438,15040,Z1F2PBHX,56836144,0,0,0,5,157415,0,0,0,0
32150,15041,Z1F2PBHX,15240104,0,0,0,5,157415,0,0,0,0
32862,15042,Z1F2PBHX,100943576,0,0,0,5,157415,0,0,0,0
33574,15043,Z1F2PBHX,203196384,0,0,0,5,157424,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
49918,15067,Z1F2PBHX,10726944,0,0,0,5,161014,0,0,0,0
50593,15068,Z1F2PBHX,131770176,0,0,0,5,161014,0,0,0,0
51268,15069,Z1F2PBHX,171967048,0,0,0,5,161014,0,0,0,0
51943,15070,Z1F2PBHX,50251840,0,0,0,5,161014,0,0,0,0
52619,15071,Z1F2PBHX,151288552,0,0,0,5,161014,0,0,0,0
53296,15072,Z1F2PBHX,220490152,0,0,0,5,161014,0,0,0,0
53973,15073,Z1F2PBHX,155344992,0,0,0,5,161014,0,0,0,0
54650,15074,Z1F2PBHX,198385440,0,0,0,5,161014,0,0,0,0
55327,15075,Z1F2PBHX,72888608,0,0,0,5,161014,0,0,0,0
56004,15076,Z1F2PBHX,193808408,0,0,0,5,161014,0,0,0,0
56681,15077,Z1F2PBHX,107089456,0,0,0,5,161014,0,0,0,0
57354,15078,Z1F2PBHX,193182840,0,0,0,5,161015,0,0,0,0
58026,15079,Z1F2PBHX,4344360,0,0,0,5,161016,0,0,0,0
58698,15080,Z1F2PBHX,144452824,0,0,0,5,161016,0,0,0,0
59370,15081,Z1F2PBHX,225120216,0,0,0,5,161016,0,0,0,0
60042,15082,Z1F2PBHX,86895024,0,0,0,5,161016,0,0,0,0
60676,15083,Z1F2PBHX,103658176,0,0,0,5,161016,0,0,0,0
61310,15084,Z1F2PBHX,146967104,0,0,0,5,161021,0,0,0,0
61866,15085,Z1F2PBHX,8742640,0,0,0,5,161182,0,0,0,0
62424,15086,Z1F2PBHX,26557576,0,0,0,5,162151,0,0,0,0
62909,15087,Z1F2PBHX,188825472,0,0,0,5,162645,0,0,0,0
63394,15088,Z1F2PBHX,122551216,0,0,0,5,162645,0,0,0,0
63879,15089,Z1F2PBHX,110488384,0,0,0,5,162645,0,0,0,0
64364,15090,Z1F2PBHX,121368976,0,0,0,5,162645,0,0,0,0
64849,15091,Z1F2PBHX,232559640,0,0,0,5,162645,0,0,0,0
65334,15092,Z1F2PBHX,180917784,0,0,0,5,162645,0,0,0,0
65819,15093,Z1F2PBHX,33952520,0,0,0,5,162645,0,0,0,0
66304,15094,Z1F2PBHX,59053184,0,0,0,5,162645,0,0,0,0
66789,15095,Z1F2PBHX,110545440,0,0,0,5,163047,0,0,0,0
67274,15096,Z1F2PBHX,130522432,0,0,0,5,164020,0,0,0,0

Mean value of `attribute5` for devices that failed.

In [121]:
df[df['device'].isin(failed_devices)].groupby('device')['attribute5'].mean().sort_values().unique()

array([ 2.90829694,  4.        ,  5.73076923,  5.85714286,  6.        ,
        6.328     ,  6.33333333,  6.4       ,  6.53846154,  6.89447236,
        7.        ,  7.01526718,  7.04964539,  7.5       ,  7.57142857,
        7.74698795,  7.85714286,  7.89119171,  7.90232558,  7.92446043,
        8.        ,  8.17283951,  8.72368421,  8.89756098,  8.90869565,
        9.        ,  9.83464567,  9.87573964, 10.        , 10.28813559,
       10.45454545, 11.        , 11.19230769, 11.53333333, 11.85810811,
       12.        , 12.13793103, 12.72368421, 13.        , 13.01666667,
       13.93814433, 14.        , 14.65263158, 14.66666667, 14.78672986,
       15.71428571, 16.        , 16.856     , 19.        , 23.        ,
       24.        , 25.        , 30.        , 30.5       , 33.775     ,
       35.325     , 35.60869565, 35.72727273, 36.74285714, 40.1025641 ,
       58.        , 64.        , 65.        , 90.        , 91.        ])

Mean value of `attribute5` for devices that didn't fail.

In [120]:
df[~df['device'].isin(failed_devices)].groupby('device')['attribute5'].mean().sort_values().unique()

array([ 1.        ,  2.        ,  2.97087379,  3.        ,  3.03289474,
        3.38135593,  4.        ,  4.38135593,  4.4516129 ,  4.5       ,
        4.81443299,  4.92771084,  5.        ,  5.22222222,  5.38135593,
        5.5       ,  5.6       ,  5.7635468 ,  5.92579505,  5.9384058 ,
        6.        ,  6.03289474,  6.11111111,  6.11458333,  6.218107  ,
        6.40707965,  6.5       ,  6.8452381 ,  6.90721649,  6.91864407,
        6.93617021,  6.95510204,  6.97029703,  6.97627119,  7.        ,
        7.03289474,  7.40707965,  7.41818182,  7.43654822,  7.5       ,
        7.66666667,  7.69230769,  7.89166667,  7.90721649,  7.91428571,
        7.92250923,  7.92307692,  7.92579505,  7.97087379,  7.97849462,
        8.        ,  8.03289474,  8.05357143,  8.05555556,  8.10714286,
        8.17777778,  8.20205479,  8.31147541,  8.40707965,  8.42718447,
        8.49411765,  8.5       ,  8.51612903,  8.75342466,  8.85365854,
        8.9047619 ,  8.92070485,  8.92579505,  8.99056604,  9.        ,
        9.03289474,  9.05357143,  9.19617225,  9.5       ,  9.58333333,
        9.64925373,  9.91304348,  9.92250923,  9.925     ,  9.92579505,
       10.        , 10.01644737, 10.03289474, 10.05357143, 10.11458333,
       10.14652015, 10.15      , 10.20205479, 10.29801325, 10.5       ,
       10.71631206, 10.91428571, 10.92579505, 10.97785978, 11.        ,
       11.03289474, 11.04469274, 11.05357143, 11.15      , 11.20205479,
       11.40707965, 11.5       , 11.73770492, 11.92579505, 12.        ,
       12.11458333, 12.15      , 12.20205479, 12.23157895, 12.31578947,
       12.44117647, 12.46268657, 12.5       , 12.52272727, 12.65991903,
       12.71270718, 12.9047619 , 13.        , 13.03289474, 13.11458333,
       13.15      , 13.31578947, 13.50295858, 13.52      , 13.71770335,
       13.92571429, 13.92579505, 13.95510204, 13.97087379, 14.        ,
       14.09473684, 14.11458333, 14.43265306, 14.94090909, 14.95510204,
       14.97222222, 15.        , 15.13215859, 15.54545455, 15.66666667,
       15.73913043, 15.81437126, 15.90721649, 16.        , 16.43265306,
       16.56060606, 16.6       , 16.76      , 16.93333333, 17.        ,
       17.34977578, 17.43265306, 17.5       , 18.        , 18.43265306,
       19.        , 19.43265306, 20.        , 21.        , 21.43265306,
       22.        , 22.7       , 23.        , 24.        , 25.        ,
       30.90721649, 31.72164948, 31.81443299, 31.90721649, 31.97087379,
       32.72164948, 32.90721649, 32.97087379, 33.90721649, 34.72164948,
       35.90721649, 36.76734694, 36.90721649, 36.97087379, 37.76734694,
       37.90721649, 38.90721649, 40.48163265, 57.        , 58.        ,
       59.        , 60.        , 61.        , 62.        , 63.        ,
       64.        , 66.        , 67.        , 68.        , 70.        ,
       78.        , 89.        , 90.        , 92.        , 94.        ,
       95.        , 98.        ])

`attribute5` is mostly the same for each device and there doesn't seem to be any meaningful difference 
between failed and not-failed devices.